.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  width: 100%;
  padding: 140px  15px 0 15px;

}

.search-wrap{
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius:10px;
  overflow: hidden;
  height: 55px;
}

input{
  width: 100%;
  position: absolute;
  height: 55px;
  left: 0;
  top: 0;
  background: rgb(236, 236, 236) ;
  border: none;
  border-radius:10px;
  padding-left: 20px;
  outline: none;
}

.tag-line{
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
 
}

.helper-text{
  margin-bottom: 40px;
  font-size: 22px;
  color: dimgray;
}


.btn{
  border: 0;
  font-weight: 600;
  padding: 0 30px;
   cursor:pointer
}

.search-btn{
  position: absolute;
  background: deepskyblue;
  color: white;
  z-index: 10;
  right: 0;
  top: 0;
  height: 55px;
}

.search-results{
  max-width: 1280px;
  width: 100%;
  margin: 60px auto;
  display: flex;
  justify-content: space-around; 
}

.avatars{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatars .image-wrap{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.search-results{
  width: 100%;
}
.user-list-wrap{
  width: 100%;
  margin: 60px auto !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 20px;
}

.user-list-wrap a{
  text-decoration: none;
  font-weight: 600;
  color: #282c34;
}

.user{
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.user:hover{
  box-shadow: 0 5px 10px rgba(105, 105, 105, 0.329);
}

.avartar-wrap{
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}

.username{
  font-size: 14px;
  margin-top: 5px;
  width: 120px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.repo-title{
  font-size: 18px;
  font-weight: 600;
}
.timestamp{
  font-size: 12px;
}


.flyby{
  position: fixed;
  left: 50%;
  margin-left: -150px;
  bottom: 2%;
  width: 300px;
  padding: 50px 20px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 5px 10px rgb(231, 231, 231);
}

.flyby .btn{
  position: absolute;
  bottom: 0;
}
